/* General Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 170px;
    height: auto;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

/* Mobile Menu Styling */
.mobile-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu .menu-bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: black;
        padding: 10px 0;
        z-index: 9999;
        box-sizing: border-box;
        transition: max-height 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }

    .nav-links.active {
        display: flex;
        max-height: 300px;
    }

    .nav-links li {
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    .mobile-menu {
        display: flex;
        z-index: 1001;
    }

    .logo img {
        width: 120px;
        height: auto;
        margin-right: 10px;
    }
}
