/* Signatures Section Styling */
.signatures-section {
    padding: 50px 20px;
    background-color: white;
    color: black;
  }
  
  .signatures-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 40px;
    text-align: left;
  }
  
  .signature-list{
    text-align: left;
  }
  
  .menu-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    text-align: left;
  }
  
  .menu-header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .menu-header ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-header li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .menu-image {
    flex: 1;
  
  }
  
  .menu-image img {
    width: auto;
    max-width: 100%;
    max-height: calc(100vh - 350px);
  }
  
  /* Drink Gallery Styling */
  .drink-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; /* Space between gallery items */
  }
  
  .drink-item {
    text-align: center;
  }
  
  .drink-item img {
    width: auto;
    max-width: 150px;
  }
  
  .drink-item span {
    display: block;
    margin-top: 10px;
  }
  
  /* Responsive Design for Smaller Screens */
  @media screen and (max-width: 768px) {
    .signatures-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .menu-header {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .menu-image img {
      max-width: 80%;
      height: auto;
    }
  
    .drink-gallery {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 15px;
    }
  
    .drink-item img {
      max-width: 100px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .menu-header h2 {
      font-size: 1.8rem;
    }
  
    .signature-list li {
      font-size: 1rem;
    }
  
    .menu-image img {
      max-width: 100%;
      height: auto;
    }
  }