/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kranto Normal', sans-serif;
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Home Section Styling */
.home-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.home-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.home-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 1.2rem;
  margin: 0;
}

.home-gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .home-content h1 {
    font-size: 1.8rem;
  }

  .home-content p {
    font-size: 1rem;
  }

  .home-content {
    padding: 15px;
  }

  .home-gif {
    object-fit: cover;
    height: 100%;
  }
}

